.wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

form {
    width: 50%;
    padding-left: 45px;
}

.form-wrapper {
    margin-bottom: 17px;
}

.form-wrapper label {
    margin-bottom: 9px;
    display: block;
}

.form-control {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    font-family: "Muli-Bold";
    background: none;
}

.form-control:focus {
    border: 1px solid #ae3c33;
}

form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.btn1 {
    cursor: pointer;
    background-color: transparent;
    padding: 10px 10px;
    color: #000000;
    font-size: 1em;
}

.nama{
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    font-family: "Muli-Bold";
    background: none;
}
.mobil{
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    font-family: "Muli-Bold";
    background: none;
}
.durasi{
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    font-family: "Muli-Bold";
    background: none;
}
.tipe{
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    font-family: "Muli-Bold";
    background: none;
}
.tanggal{
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    font-family: "Muli-Bold";
    background: none;
}
.catatan{
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    font-family: "Muli-Bold";
    background: none;
}

.tab {
    overflow: hidden;
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 20px 10px;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.3);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.7);
}

/*<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>*/